@model alpha.Monk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Monk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SWno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SWno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Htown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Htown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tribe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tribe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bparent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bparent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ftribe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ftribe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MLname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mtribe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mtribe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sib_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sib_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sib_ord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sib_ord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sib_men)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sib_men)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sib_women)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sib_women)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
